.para1{
    background-color:#2b2928;
    color: rgb(240, 234, 234);
}
.para2{
    background-color:#d13333;
}
.para3{
    background-color:#f0ed51;
}
.para4{
    background-color:rgb(67, 67, 231);
}
.para5{
    background-color:rgb(187, 17, 187);
}
